# Maven-specific files
target
.mvn

# Git and editor-related files
.git
.gitignore
.vscode

# Logs
logs
*.log
npm-debug.log*

# Docker-specific files
Dockerfile

# System-specific files
.DS_Store
Thumbs.db

# Temporary build files
*.class
*.jar
*.war
*.ear
